@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  background-color:black;
  color:white;
  font-family: 'JetBrains Mono', monospace, sans-serif;
}

#openingBlock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nameSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.name {
  font-size: 5vw;
  flex: 1 1 auto;
  min-width: 38vw;
}

.search {
  flex: 1 1 auto;
  background-color: black;
  border-style: none;
  color:white;
  font-size: 5vw;
  max-width: 44vw;
}

::placeholder {
  color: white;
  font-size: 6vw;
  opacity: 1;
}

.header {
  padding: 10px 50px;
  background: lightgray;
}

.headerLink {
  text-decoration:none;
  color: gray;
  font-size: 20px;
}

.content {
  padding: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.output {
  height: 20vh;
  width: 80vw;
  border-style:solid;
  padding: 25px;
  border-color:white;
  font-size: 2vw;
}

.output > div {
  margin: 5px;
}

/* Styling about section */

.heading {
  text-align: center;
  font-size: 10vh;
  margin: 30px;
  padding-top: 40px;
}

.cropped {
  height: 40vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cropped img {
  height: 60vh;
  margin: -110px 0 0 -40px;
}

#about {
  height: 100vh;
}

.text {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
  width: 60vw;
}

p > a {
  color: aqua;
}

/* styling my projects */
#projects {
  height: 100vh;
}

/* styling myCat.html */

.images {
  display: flex;
  margin: 50px;
  max-width: 80vw;
  justify-content: space-between;
  overflow: hidden;
}

.imagesTwo {
  display: flex;
  margin: 50px;
  max-width: 80vw;
  justify-content: space-between;
  overflow: hidden;
}

.catStare {
  width: 20vw;
  height: 20vw;
}

.catStare img {
  width: 20vw;
  height: auto;
  margin: -8vw 0 0 0;
}

.catSit {
  width: 20vw;
  height: 20vw;
}

.catSit img {
  width: 20vw;
  height: auto;
  margin: -8vw 0 0 0;
}

.catFunny {
  width: 20vw;
  height: 20vw;
}

.catFunny img {
  width: 20vw;
  height: auto;
  margin: -8vw 0 0 0;
}

.catToilet {
  width: 20vw;
  height: 20vw;
}

.catToilet img {
  width: 20vw;
  height: auto;
  margin: -8vw 0 0 0;
}

.catSnake {
  width: 20vw;
  height: 20vw;
}

.catSnake img {
  width: 20vw;
  height: auto;
  margin: -8vw 0 0 0;
}

.catInside {
  width: 20vw;
  height: 20vw;
}

.catInside img {
  width: 20vw;
  height: auto;
  margin: -6vw 0 0 0;
}