@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  background-color:black;
  color:white;
  font-family: 'JetBrains Mono', monospace, sans-serif;
}

#openingBlock {
  display:flex;
  height: 60vh;
  align-items: center;
  padding-left: 80px;
}

#nameSearch {
  display: flex;
  justify-content: center;
}

.name {
  font-size: 5vw;
  flex: 1 1 auto;
  min-width: 38vw;
}

.search {
  flex: 1 1 auto;
  background-color: black;
  border-style: none;
  color:white;
  font-size: 5vw;
  max-width: 44vw;
}

::placeholder {
  color: white;
  font-size: 9vw;
  opacity: 1;
}

.header {
  padding: 10px 50px;
  background: lightgray;
}

.headerLink {
  text-decoration:none;
  color: gray;
  font-size: 20px;
}

.content {
  padding: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.output {
  height: 9vw;
  border-style:solid;
  padding: 25px;
  border-color:white;
  font-size: 20px;
}

.output > div {
  margin-top: 5px;
  margin-bottom: 5px;
}
