@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  background-color:black;
  color:white;
  font-family: 'JetBrains Mono', monospace, sans-serif;
}

#openingBlock {
  display:flex;
  height: 80vh;
  align-items: center;
}

#nameSearch {
  display: flex;
  justify-content: center;
}

.name {
  font-size: 7vw;
  flex: 1 1 auto;
  min-width: 50vw;
}

.search {
  flex: 1 1 auto;
  background-color: black;
  border-style: none;
  color:white;
  font-size: 5vw;
  max-width: 36vw;
}

::placeholder {
  color: white;
  font-size: 9vw;
  opacity: 1;
}

.header {
  padding: 5px 16px;
  background: lightgray;
  color: gray;
}

.content {
  padding: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

#filler {
  height: 2000px;
}

